/*极客学院前端组*/
.slots-container {
  width: 384px;
  height: 640px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url('../image/bg.jpg') center no-repeat;
}
.slots-container-btn {
  position: absolute;
  top: 479px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100px;
  height: 60px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.superheros {
  width: 355px;
  height: 210px;
  position: absolute;
  top: 130px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 3px;
  overflow: hidden;
  background: -webkit-linear-gradient(top, #2d2d2d 0, #fff 50%, #2d2d2d 100%);
}
.superheros-list01,
.superheros-list02,
.superheros-list03 {
  width: 110px;
  position: absolute;
  top: -60px;
  left: 0;
}
.superheros-list01 img,
.superheros-list02 img,
.superheros-list03 img {
  display: block;
  width: 100%;
}
.superheros-list02 {
  left: 123px;
}
.superheros-list03 {
  left: 245px;
}
